<div class="row ">

  <div class="col-md-5">
    <h4>MyReservations</h4>
    <hr/>
    <div class="card card-body by-light">
      <form class="form-horizontal">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="getNotifications()">Notifications</button>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-7">
    <h4>List Slots</h4>
    <hr />
    <div class="card card-body bg-light">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">created</th>
          <th scope="col">slotId</th>
          <th scope="col">patientId</th>
          <th scope="col">message</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
          <td>{{ message.created }}</td>
          <td>{{ message.slotId }}</td>
          <td>{{ message.patientId }}</td>
          <td>{{ message.message }}</td>


        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
