<div class="row ">

  <div class="col-md-5">
    <h4>MyReservations</h4>
    <hr/>
    <div class="card card-body by-light">
      <form class="form-horizontal">
         <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="getSlots()">MyAppointments</button>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="row">

    <div class="col-md-7">
      <h4>List Slots</h4>
      <hr />
      <div class="card card-body bg-light">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">slotId</th>
            <th scope="col">doctorId</th>
            <th scope="col">startTime</th>
            <th scope="col">endTime</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let slot of slots">
            <td>{{ slot._id }}</td>
            <td>{{ slot.doctor }}</td>
            <td>{{ slot.startTime }}</td>
            <td>{{ slot.endTime }}</td>
            <button type="submit" class="btn btn-primary" style="background-color: red" (click)="deleteReservation(slot._id)">Cancel</button>



          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
