<div class="row ">

  <div class="col-md-5">
    <h4>Patient Delete Reservation</h4>
    <hr/>
    <div class="card card-body by-light">
      <form class="form-horizontal">
        <div class="form-group">
          <label >SlotID :</label>
          <input type="text" [(ngModel)]="slotId"[ngModelOptions]="{standalone:true}" class="form" placeholder="ID">
        </div>


        <br/>
        <div class="form-group">
          <button type="submit" class="btn btn-danger" (click)="clearData()">Clear</button> &nbsp;
          <button type="submit" class="btn btn-primary" (click)="deleteReservation()">Delete</button>

        </div>
      </form>
    </div>

  </div>






</div>
