<div class="container">
  <h2>Welcome to Our Clinic</h2>
  <p>Hello Doctor.</p>

  <div class="buttons">


    <div class="col-md-3">
      <ul class="list-group">

        <a routerLink="/slot"class="list-group-item">SeeAllSlotsByDoctorID (Pat.or Doc.)"</a>
        <a routerLink="/createSlot"class="list-group-item">CreateSlotsByDoctor (Doc.)"</a>
        <a routerLink="/doctorSchedule"class="list-group-item">DoctorSchedule (Doc.)"</a>
        <a routerLink="/logout"class="list-group-item">Logout (Pat.or Doc.)"</a>

      </ul>
    </div>

  </div>
</div>
