<div class="row ">

  <div class="col-md-5">
    <h4>Login</h4>
    <hr/>
    <div class="card card-body by-light">
      <form class="form-horizontal">

        <div class="form-group">
          <label >E-mail  :</label>
          <input type="text" [(ngModel)]="email"[ngModelOptions]="{standalone:true}" class="form" placeholder="email">
        </div>

        <div class="form-group">
          <label >Password:</label>
          <input type="password" [(ngModel)]="password"[ngModelOptions]="{standalone:true}" class="form" placeholder="Password">
        </div>
        <br/>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="login()">Login</button>

          <button type="submit" class="btn btn-danger" (click)="clearData()">Clear</button> &nbsp;

        </div>
      </form>
    </div>

  </div>






</div>
