<div class="container">
  <h2>Welcome to Our Clinic</h2>
  <p>Hello Patient.</p>

  <p>Explore our services and manage your appointments.</p>
  <div class="buttons">


    <div class="col-md-3">
      <ul class="list-group">


        <a routerLink="/slot"class="list-group-item">SeeAllSlotsByDoctorID (Pat.or Doc.)"</a>
        <a routerLink="/reserveSlot"class="list-group-item">ReserveSlot (Pat.)</a>
        <a routerLink="/viewMyReservations"class="list-group-item">MyAppointments (Pat.)"</a>
        <a routerLink="/updateReservation"class="list-group-item">UpdateReservation (Pat.)"</a>
        <a routerLink="/deleteReservation"class="list-group-item">DeleteResrvation (Pat.)"</a>
        <a routerLink="/logout"class="list-group-item">Logout (Pat.or Doc.)"</a>

      </ul>
    </div>

  </div>
</div>
